<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/estilo.css">
	<title>Site Hospitalar</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-light"><!--Inicio do menu-->
		<div class="container">
			<button class="navbar-toggler"data-toggle="collapse"data-target="#navbarSupportedContent">
				<span class="navbar-toggler-icon">
					
				</span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto mr-auto" >
					<li><a href="#"class="nav-link">Home</a></li>
					<li><a href="#"class="nav-link">Hospitais</a></li>
					<li><a href="#"class="nav-link">Tipos de Hospitais</a></li>
					<li class="dropdown">
						<a href="#"class="nav-link dropdown-toggle" data-toggle="dropdown">Gerenciar Hospitais</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#" class="dropdown-item">Inserir Hospitais</a>
							</li>
							<li class="dropdown-divider"></li>		
							<li>
								<a href="#" class="dropdown-item">Editar Hospitais</a>
							</li>
							<li class="dropdown-divider"></li>
							<li>
								<a href="#" class="dropdown-item">Excluir Hospitais</a>
							</li>
						</ul>
					</li>
					<li><a href="#"class="nav-link">Registro</a></li>
					<li><a href="#"class="nav-link">Login</a></li>
				</ul>
			</div><!--Fim Collapse-->	
		</div><!--Fim Container-->
	</nav><!--Fim fo menu-->
	<main>
		
		<section class="jumbotron"><!--Inicio do Titulo-->
			<form class="input-group">
				<input class="form-control" type="search" placeholder="Busque Aqui!">
				<button class="btn btn-primary ml-1">Pesquisar</button>
			</form>

		</section><!--Fim do Titulo-->

		<section class="container"><!--Inicio Adicionado-->
			<h2 class="text-center">
				Adicionado Recentemente
			</h2>
			<div class="row">
				<a href="#" class="col-lg-3 col-md-6 col-sm-4">
					<figure>
						<img src="/static/img/hospital 8.jpg" alt="" class="img-fluid img-thumbnail">
						<figcaption class="text-center">
							Hospital número 1 em atendimento
						</figcaption>
					</figure>
				</a>
				<a href="#" class="col-lg-3 col-md-6 col-sm-4">
					<figure>
						<img src="/static/img/hospital 8.jpg" alt="" class="img-fluid img-thumbnail">
						<figcaption class="text-center">
							Hospital número 2 em atendimento
						</figcaption>
					</figure>
				</a>
				<a href="#" class="col-lg-3 col-md-6 col-sm-4">
					<figure>
						<img src="/static/img/hospital 8.jpg" alt="" class="img-fluid img-thumbnail">
						<figcaption class="text-center">
							Hospital número 3 em atendimento
						</figcaption>
					</figure>
				</a>
				<a href="#" class="col-lg-3 col-md-6 col-sm-4">
					<figure>
						<img src="/static/img/hospital 8.jpg" alt="" class="img-fluid img-thumbnail">
						<figcaption class="text-center">
							Hospital número 4 em atendimento
						</figcaption>
					</figure>
				</a>
			</div>
			

		</section><!--Fim Adicionado-->
		<section><!--Início video-->
			<div class="container">
				<h3 class="text-center mb-3">Nossos Vídeos</h3>
				<div class="row d-flex">
					
					<figure class="col-lg-3 img-fluid">
						<iframe src="https://www.youtube.com/embed/Bf6g7Mh2-Lo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</figure>
					<div class="col-lg-3">
						<article class="ml-3 text-justify">
							Lo-fi Hip-Hop
						</article>
						
					</div>
					<figure class="col-lg-3 img-fluid">
						<iframe src="https://www.youtube.com/embed/Bf6g7Mh2-Lo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</figure>
					<div class="col-lg-3">
						<article class="ml-3 text-justify">
							Lo-fi Hip-Hop
						</article>
						
					</div>

				</div>

			</div>


		</div>

	</section><!--Fim video-->

	<section class="avaliado bg-dark mt-3 container"><!--Inicio Avaliado-->
		<div class="container">
			<div class="row d-flex">

				<div class="col-lg-6 text-center mt-4">
					<h1>
						Melhor avaliado
					</h1>
					<article>
						Este hospital foi avaliado por mais de 1000 usúarios
					</article>
					<button class="btn btn-primary mt-4">
						Avaliar
					</button>
				</div>

				<div class="col-lg-6">
					<a href="#">
						<figure class="mt-4 text-center"> <img src="/static/img/hospital 8.jpg" alt=""class="img-fluid img-thumbnail">
							<figcaption class="mt-2">
								Melhor Hospital
							</figcaption>
						</figure>
					</a>
				</div>
			</div>
		</div>

	</section><!--Fim Avaliado-->

	<section class="equipe-medica container"><!--Inicio Equipe-->
		<h2 class="text-center mt-3 mb-3">
			Equipe Médica
		</h2>
		<div class="row">

			<div class="media com-lg-6 col-sm-6">
				<img src="/static/img/hospital 12.jpg" alt="Mestre Jackie-Chan" class="mestre img-fluid img-thumbnail mt-4 mr-2">
				<div class="media-body">
					<h3 class="h5">
						Jackie-Chan
					</h3>
					<article>
						“A vida sempre vai nos derrubar, mas somos nós que escolhemos se queremos ficar em pé ou não”.
					</article>
				</div>
			</div>

			<div class="media com-lg-6 col-sm-6">
				<img src="/static/img/hanji zoe.jpg" alt="Hanji" class="mestre img-fluid img-thumbnail mt-4 mr-2">
				<div class="media-body">
					<h3 class="h5">
						Hanji Zoe
					</h3>
					<article>
						“A vida sempre vai nos derrubar, mas somos nós que escolhemos se queremos ficar em pé ou não”.
					</article>
				</div>
			</div>

			<div class="media com-lg-6 col-sm-6">
				<img src="/static/img/mestre dos magos.jpg" alt="Dos magos" class="mestre img-fluid img-thumbnail mt-4 mr-2">
				<div class="media-body">
					<h3 class="h5">
						Mestre dos Magos
					</h3>
					<article>
						“A vida sempre vai nos derrubar, mas somos nós que escolhemos se queremos ficar em pé ou não”.
					</article>
				</div>
			</div>

			<div class="media com-lg-6 col-sm-6">
				<img src="/static/img/mestre jiraya.jpg" alt="Mestre Jiraya" class="mestre img-fluid img-thumbnail mt-4 mr-2">
				<div class="media-body">
					<h3 class="h5">
						Jiraya
					</h3>
					<article>
						“A vida sempre vai nos derrubar, mas somos nós que escolhemos se queremos ficar em pé ou não”.
					</article>
				</div>
			</div>

			<div class="media com-lg-6 col-sm-6">
				<img src="/static/img/myagi.jpg" alt="Miyagi" class="mestre img-fluid img-thumbnail mt-4 mr-2">
				<div class="media-body">
					<h3 class="h5">
						Mestre Miyagi
					</h3>
					<article>
						“A vida sempre vai nos derrubar, mas somos nós que escolhemos se queremos ficar em pé ou não”.
					</article>
				</div>
			</div>

			<div class="media com-lg-6 col-sm-6">
				<img src="/static/img/yoda.jpg" alt="Mestre Yoda" class="mestre img-fluid img-thumbnail mt-4 mr-2">
				<div class="media-body">
					<h3 class="h5">
						Yoda
					</h3>
					<article>
						“A vida sempre vai nos derrubar, mas somos nós que escolhemos se queremos ficar em pé ou não”.
					</article>
				</div>
			</div>
		</div>
	</div>	
</section><!--Fim Equipe-->
</main>
<section class="especialidade container mt-4"><!--Inicio Especialidades-->
	<div class="row">
		<div class="col-md-4"><!--Coluna 01-->
			<div class="card text-center"><!--inicio card-->
				<h3 class="card-header text-center">Especialidade 1</h3>
				<div class="card-body">
					<p class="text-justify">
						"Dedica-se a esperar o futuro apenas quem não sabe viver o presente"
						"Não importa quem é o mais forte, mas o mais inteligente"
					</p>
					<button class="btn btn-primary mt-4">
						Ver aqui
					</button>
				</div>
			</div><!--fim card-->
		</div><!--fim coluna-->

		<div class="col-md-4"><!--Coluna 02-->
			<div class="card text-center"><!--inicio card-->
				<h3 class="card-header text-center">Especialidade 2</h3>
				<div class="card-body">
					<p class="text-justify">
						"Dedica-se a esperar o futuro apenas quem não sabe viver o presente"
						"Não importa quem é o mais forte, mas o mais inteligente"
					</p>
					<button class="btn btn-primary mt-4">
						Ver aqui
					</button>
				</div>
			</div><!--fim card-->
		</div><!--fim coluna-->

		<div class="col-md-4"><!--Coluna 03-->
			<div class="card text-center"><!--inicio card-->
				<h3 class="card-header text-center">Especialidade 3</h3>
				<div class="card-body">
					<p class="text-justify">
						"Dedica-se a esperar o futuro apenas quem não sabe viver o presente"
						"Não importa quem é o mais forte, mas o mais inteligente"
					</p>
					<button class="btn btn-primary mt-4">
						Ver aqui!
					</button>
				</div>
			</div><!--fim card-->
		</div><!--fim coluna-->
	</div>
</section><!--Fim Especialidades-->

<footer class="mt-4 bg-dark"><!--Inicio Rodape-->
	<div class="container d-flex justify-content-between">
		<span class="cor mt-4">Copyright 2020</span>
		
		<ul class="navbar icone">
			<li><a href="https://github.com/" class="text-hide">Git Hub</a></li>
			<li><a href="https://www.google.com/" class="text-hide">Google Plus</a></li>
			<li><a href="https://br.linkedin.com/" class="text-hide">Linkedin</a></li>
			<li><a href="https://pt-br.facebook.com/" class="text-hide">Facebook</a></li>
		</ul>
	</div>
	
</footer><!--Fim Rodape-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script type="text/javascript" src="/static/js/bootstrap.js"></script>
</body>
</html>